extends ../../layouts/default.pug

block main
    .page-inner
        .row
            .col-md-12
                .card
                    .card-header
                        .card-title #{movie.title}
                    .card-body
                        .row
                            .col-md-4
                                img.img-fluid(src=movie.thumbnail ? movie.thumbnail : "/path/to/default-thumbnail.jpg" alt=movie.title)
                            .col-md-8
                                h5 Thông tin phim
                                table.table.table-striped
                                    tbody
                                        tr
                                            th.text-nowrap Tiêu đề:
                                            td #{movie.title}
                                        tr
                                            th.text-nowrap Mô tả:
                                            td #{movie.description}